:root{
  --main-font:"Manrope",sans-serif;
  --second-font:"Roboto",sans-serif;
  --third-font:"Alexandria",sans-serif;
  --link-font:"Hind Madurai",sans-serif;
  --color-primary:rgb(255, 255, 255);
  --color-accent:#D23166;
  --third-color:#FAFAFA;
  --main-background-color:rgba(0, 0, 0, 1);
  --footer-background-color:#151515;
  --bg-color-btn:rgba(210, 49, 102, 1);
  --border--color:#888888 ;

}

body{
    font-family: var(--main-font);
    background-color: var(--main-background-color);
    font-size: 18px; 
}

a {
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1248px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 15px 0px 15px ;

}

.header{
    padding: 40px 0 40px;
}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-nav{
    display:flex;
    align-items:center;
    margin-left:auto;
}

.header-menu{
    display:flex;
    gap:95px;
}

.header-list_social{
  display: flex;
  gap: 15px;
    margin-left:95px;
}


.header-img{
  width: 142px;
  height: 94px;

}



.header-item-link{
  font-size: 18px;
  color:var(--color-primary);
  opacity: 0.5;
  font-family: var(--main-font);
  font-weight:500;
}


.header-list_social{
  display: flex;
  gap: 15px;
  margin-left:207px;
  background-color: var(--footer-background-color);
  
}




.hero {
   
   background-color: var(--main-background-color);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-subtitle{
    font-size:14px ;
    font-weight: 500;
    font-family:var(--main-font) ;
    color: #FFFFFF;
    padding-bottom: 20px;
    letter-spacing: 10%;
    }

.hero-title{
  font-size: 57.33px;
  font-family: var(--third-font);
  font-weight:400 ;
  color: var(--color-primary);
  padding-bottom: 16px;
  width: 587px;
  letter-spacing: -0.07em;
  line-height: 94%;
}

.hero-span{
  color: var(--color-accent);
}


.hero-text{
  font-size:18px ;
  font-weight:400 ;
  font-family:var(--main-font) ;
  color: var(--third-color);
  opacity: 0.5;
  line-height: 27px;
  width: 578px;
  padding-bottom: 48px;
}



.hero-btn{
  background-color: var(--color-accent);
  padding: 13px 50px 13px 50px;
  color: var(--color-primary);
  font-size: 16px;
  border-radius: 5px;
  
}


.hero-img{
  width: 588px;
  height: 588px;
   object-fit:cover;
}


.about{
  background-color: var(--main-background-color);
  padding: 129px 0 105px;
  
}


.about-text{
  color:var(--color-primary);
  font-size: 57.33px;
  font-weight: 400;
  font-family:var(--third-font) ;
  text-align: center;
  letter-spacing: -0.07em;
  position: relative;
}


.about-text::before{
  display:block;
  content: "";
  background-image: url("../img/img-strawberry.png"), url("../img/img-milk.png"), url("../img/img-pistachio.png");
  background-position: 624px 300px,33px 161px,991px 0px;
  background-size: 90px, 144px, 137px;
  width:1248px;
  height:399px;
  position: absolute;
  top: -60px;
  left: 0;
   background-repeat: no-repeat, no-repeat, no-repeat;
  
}


.about-span{
  color:var(--color-primary);
  opacity: 0.2;
}

.about-img-one{
  width:144px ;
  height: 144px;
  position: absolute;
  top:170px ;
  bottom:85px ;
  left: 33px;
  object-fit:cover;
  

}

.about-img-two{
  width:90px ;
  height:90px;
  position: absolute;
  bottom: 60px;
  left:624px;
  object-fit:cover;
}

.about-img-three{
  width:137px ;
  height:137px ;
  position: absolute;
  top: 0;
  left:991px;
  object-fit:cover;
}


.product{
  background-color: var(--main-background-color);
  padding: 60px 0px 60px 0px;
}

.product-title{
  font-size: 56px;
  font-family:var(--second-font) ;
  font-weight:500 ;
  letter-spacing: -0.07em;
  line-height: 94%;
  color: var(--color-primary);
  padding-bottom: 56px;
}

.product-list{
  display: flex;
  gap: 20px;
}


.product-article{
  background-color: var(--footer-background-color);
  
}

.product-img{
  width:297px;
  height:274px;
}

.product-wrap{
  padding:24px 30px 24px 30px ;
 
}

.product-subtitle{
  font-size:26px;
  font-family: var(--link-font);
  font-weight:700 ;
  padding-bottom:8px;
  color:var(--color-primary) ;
}


.product-text{
  font-size:16px ;
  font-family: var(--second-font);
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 28px;
  color: var(--color-primary);
  opacity: 0.3;
}


.product-price{
  color: var(--color-primary);
  font-size: 26px;
  font-family: var(--link-font);
  font-weight:500;
  padding-bottom: 16px;

}

.product-sale{
  font-size: 20px;
  color: var(--color-primary);
  opacity: 0.5;
  text-decoration: line-through;

}

.product-btn{
  background-color: var(--color-accent);
  padding: 15px 46px 15px 46px;
  color: var(--color-primary);
  font-size: 16px;
  border-radius: 5px;
  width: 100%;

}


.simple{
  background-color: var(--main-background-color);
}

.simple-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simple-list{
  margin-top: 64px;
}

.simple-title{
  font-size: 56px;
  font-family: var(--second-font);
  font-weight:500 ;
  color: var(--color-primary);
  padding-bottom: 16px;
  width: 466px;
  letter-spacing:-0.07em;
  line-height: 94%;
}

.simple-subtitle{
  color: var(--color-accent);
}


.simple-text{
  font-size: 18px;
  font-family: var(--main-font);
  line-height: 27px;
  font-weight: 400;
  color: var(--color-primary);
  opacity:0.5;


}


.simple-item{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom:26px;
}
.simple-item:last-child{
  margin-bottom:0px;
}

.simple-number{
   border: 1px solid var(--border--color);
   border-radius: 50%;
   padding: 10px;
   line-height: 27px;
   color:var(--color-primary) ;
   width:48px;
   height: 48px;
   text-align: center;
   opacity: 0.6;
   
}


.simple-img{
  width: 800px;
}

.simple-list_social{
  display: flex;
  gap: 12px;
  margin-top: 46px;
  

}



.form{
  margin: 0 auto;
  background-color: var(--main-background-color);
  padding-top:223px ;
  padding-bottom: 223px;
  
}

.form-content{
display: flex;
align-items: center;
flex-direction: column;
}

.form-container{
  position: relative;
}

.form-title{
  font-size: 57.33px;
  font-family: var(--third-font);
  font-weight:400 ;
  color:var(--color-primary) ;
  letter-spacing: -0.07em;
  line-height: 94%;
  text-align: center;
  max-width: 653px;
  padding-bottom: 56px;
}

.form-span{
  color: var(--color-accent);
}

.form-input{
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--color-primary);
  opacity: 0.5;
  padding: 23px 30px 23px 30px;
  background-color: var(--main-background-color);
  border-radius: 100px;
  border: 1px solid var(--color-primary);
  width: 637px;
 }



.form-btn{
border-radius: 1000px;
padding: 24.5px 44px 24.5px 44px;
background-color: var(--color-accent);
color: var(--color-primary);
background-color: var(--bg-color-btn);
font-family: var(--second-font);
position: absolute;
right:0 ;
bottom: 0;
font-size: 20px;
}



.footer{
  background-color: var(--footer-background-color);
  padding: 100px 0px 100px 0px;
}


.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 176px;
}


.footer-wrap{
  max-width: 212px;
}

.footer-img{
  padding-bottom: 24px;
  width: 142px;
  height: 94px;

}


.footer-text{
  color:var(--color-primary) ;
  opacity: 0.5;
  font-size: 14px;
  font-weight:400 ;
  font-family:var(--main-font) ;
  line-height: 140%;
  letter-spacing: 1%;
  padding-bottom: 24px;
}

.footer-list{
  display: flex;
  flex-direction: row;
  gap: 15.43px;
}

.footer-links{
  display: flex;
  flex: 1;
  justify-content: space-between;

}

.footer-item_title{
  font-size:20px ;
  color:var(--color-primary) ;
  font-family: var(--main-font);
  font-weight: 600;
  padding-bottom: 33px;
  
}

.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 78px;
  
}

.footer-item_link{
color: var(--color-primary);
  opacity: 0.8;
}

.footer-link{
  color: var(--color-primary);
  opacity: 0.8;
  line-height: 1.7;
}